<div id='quote-card'>
    <div id='quote'>
        <blockquote>
            <span>
                <quote-icon className='fas fa-quote-left'></quote-icon>
                {{quote.quote}}</span>
            <cite>- {{quote.author}}</cite>
        </blockquote>

        <div id='quote-actions'>
            <span id='quote-icons'>
                <span v-for='icon in icons'>
                    <a :href="'https://twitter.com/intent/tweet?text=' + quote.quote" target='blank'>
                        <quote-icon :className='icon.className'></quote-icon>
                    </a>
                </span>
                <span id='last-author' v-if="lastAuthor">Last Author: {{lastAuthor}}</span>
            </span>
            <button id='quote-button' v-on:click='getQuote'>{{newQuote}}</button>
        </div>
    </div>
</div>