<div id='quote-card'>
    <div id='quote'>
        <blockquote>
            <span>
                <quote-icon className='fas fa-quote-left'></quote-icon>
                {{quote.quote}}</span>
            <cite>- {{quote.author}}</cite>
        </blockquote>

        <div id='quote-actions'>
            <a :href="'https://twitter.com/intent/tweet?text=' + quote.quote" target='blank'>
            <quote-icon className='fab fa-twitter-square fa-2x'></quote-icon></a>

            <button v-on:click='getQuote'>{{newQuote}}</button>
        </div>
    </div>
</div>